<div class="p-5">
  <h1><%= @event.name %></h1>
  <h5 class="pb-3"><em><%= @event.city  %> <%= @event.country %></em></h5>
  <p><%= @event.description %></p>
  <div>
    <% if @event.availability > 0 %>
      <button type="button" class="btn btn-primary">Buy a ticket </button>
    <% else %>
      <button type="button" class="btn btn-secondary">Not available</button>
    <% end %>
  </div>

</div>

